* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.yak-image  {
    width: 8EM;
    height: 10em;
    margin: 1em;
    display: flex;
    justify-content: center;
}

.yak-copy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: #797979;
  letter-spacing: .15em;
}

.yak-copy span:first-child {
  font-size: 3em;
  font-weight: 600;
  font-size: 1.4em;
}

.content-container {
  width: 100vw;
  height: 150vh;
  max-width:100%;
  display: flex;
  flex-direction: row;
}

.content-container  {
  background: #FB5454;
  color: #DEDEDE;
}

header, footer {
  background: #DEDEDE;
  color: #333;
  width: 100vw;
  height: 100vh;
  max-width:100%;
}

.game-article {
  flex: 1;
  max-width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 50vh;
}
.game-article h2 {
  margin: 0;
}

.android-image {
  width: 120px;
  height: 50px;
  background: #FFFFFF;
}

.game-icon {
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  align-self: flex-end;
}

.download-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coming-soon {
    color: #999;
}

.game-image {
  height: 100%;
  width: 100vw;
  max-width:100%;
  background: #FFFFFF;
  margin: 0;
  flex: 1;
}

.tmttm-image {
  background: url('../assets/images/tmttm-01.png') top left / cover no-repeat fixed;
}

.shift-four-image {
  background: url('../assets/images/s4-01.png') top left / cover no-repeat fixed;
}

.mathmatical-image {
  background: url('../assets/images/math-01.png') top left / cover no-repeat fixed;
}

.shift-four-rush-image {
  background: url('../assets/images/s4r-01.png') top left / cover no-repeat fixed;
}

@media (max-width: 900px) {
  .content-container {
    flex-direction: column;
  }

  .game-article {
    order: 2;
  }

  .game-image {
    width: 100vw;
    order: 1;
  }
}

.elegant-shadow {
  font-size: 90px !important;
color: #131313;
/* background-color: #e7e5e4; */
letter-spacing: .15em;
/* color: #767676; */
text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}
