* {
  font-family: 'Raleway', sans-serif;
}
body {
  background: #797979;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #DEDEDE;
}

.yak-image  {
  width: 8EM;
  height: 10em;
  display: flex;
  justify-content: center;
  img {
    width: 150px;
  }
}

.yak-copy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: #797979;
}

.yak-copy span:first-child {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.9rem;
  padding-left: 0.8rem;
}

.content-container {
  width: 100vw;
  height: 85vh;
  max-width:100%;
  display: flex;
  flex-direction: row;
  color: #DEDEDE;
  flex-wrap: wrap;
}

.images-container {
  display: flex;
  height: 50vh;
  width: 100vw;
  justify-content: center;
}
.tall-image {
  width: 25vw;
  max-height: 50vh;
}
.wide-image {
  width: 100vh;
}

header, footer {
  color: #333;
  width: 100vw;
  height: 100vh;
  max-width:100%;
}

footer {
  height: initial;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #DEDEDE;
}

.footer-icons {
  display: flex;
  height: 32px;
  justify-content: space-around;
}

.footer-footer {
  height: 30vh;
  color: #DEDEDE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 35vh;
  background: #DEDEDE;
  align-self: flex-end;
  color:#333;
}

.game-article-content p {
  padding: 1.5rem;
  margin: 0;
}

.game-article-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.description-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description-container p {
  max-width: 800px;
}

.flex-column {
  flex-direction: column;
}

@media (max-width: 600px) {
  .description-container {
    margin-top: 0;
  }
}

.box-shadow {
  box-shadow: #333333 1px 2px 1px;
}
.inset-text {
    /* Shadows are visible under slightly transparent text color */
    color: rgba(142, 142, 142, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}
.section-title {
  font-size: 1.5rem;
  height: 14vh;
  width: 100%;
  margin-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DEDEDE;
  color: #ff7f50;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

.android-icon {
  width: 120px;
  height: auto;
  margin-left: -10px;
  margin-top: -7px;
}

.game-icon-container {
  width: 32px;
  height: 32px;
}

.game-icon {
  width: 32px;
}

.download-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.coming-soon {
    color: #999;
}

.bg-game-screen {
  height: 50vh;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-link {
    text-decoration: none;
}
.tmttm-image-1 {
  background-image: url('../assets/images/tmttm-01.png');
}
.tmttm-image-2 {
  background-image: url('../assets/images/tmttm-02.png');
}
.tmttm-image-3 {
  background-image: url('../assets/images/tmttm-03.png');
}
.tmttm-image-4 {
  background-image: url('../assets/images/tmttm-04.png');
}

.shift-four-image-1 {
  background-image: url('../assets/images/s4-01.png');
}
.shift-four-image-2 {
  background-image: url('../assets/images/s4-02.png');
}
.shift-four-image-3 {
  background-image: url('../assets/images/s4-01.png');
}
.shift-four-image-4 {
  background-image: url('../assets/images/s4-02.png');
}

.shift-four-image-1 {
  background-image: url('../assets/images/shift-four-1.png');
}
.shift-four-image-2 {
  background-image: url('../assets/images/shift-four-2.png');
}
.shift-four-image-3 {
  background-image: url('../assets/images/shift-four-3.png');
}
.shift-four-image-4 {
  background-image: url('../assets/images/shift-four-4.png');
}

.math-image-1 {
  background-image: url('../assets/images/math-1.png');
}
.math-image-2 {
  background-image: url('../assets/images/math-2.png');
}
.math-image-3 {
  background-image: url('../assets/images/math-3.png');
}
.math-image-4 {
  background-image: url('../assets/images/math-4.png');
}

.tap-1 {
  background-image: url('../assets/images/tap-1.png');
}
.tap-2 {
  background-image: url('../assets/images/tap-2.png');
}
.tap-3 {
  background-image: url('../assets/images/tap-3.png');
}
.tap-4 {
  background-image: url('../assets/images/tap-4.png');
}

.circles-image-1 {
  background-image: url('../assets/images/circles-1.png');
}
.circles-image-2 {
  background-image: url('../assets/images/circles-2.png');
}
.circles-image-3 {
  background-image: url('../assets/images/circles-3.png');
}
.circles-image-4 {
  background-image: url('../assets/images/circles-4.png');
}

@media (max-width: 900px) {
  .display-full-screen-only {
    display: none;
  }

  .tall-image {
    width: 50vw;
  }

  .game-article {
    order: 2;
  }

  .section-title {
    font-size: 1rem;
  }

}

@media (max-width: 600px) {
  .display-full-mid-screen-only {
    display: none;
  }
  .bg-game-screen {
    width: 50vw;
  }
}

form label {
  font-weight: 700;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ff7f50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f76934;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}